body {
/*Ger font-style, textstorlek, textfärg och bakgrundsfärg på hela sidan*/
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #FFF;
        background-color: #5F626C;
}

h1, h3{
/*Ser till så att våra H-taggar läggs centrerat*/
        text-align: center;
}

#searchartist {
/*Stylar våran text-ruta för sökning på Artist*/
        resize: none;
        padding: 3px;
        font-size: 20px;
        margin-left: 20%;
        float: left;
        border-radius: 2px;
        border: none;
        box-shadow:0px 2px 3px #000000;
}

#search{
/*Stylar våran text-ruta för sökning på Låt*/
        margin-top: -20px;
        resize: none;
        padding: 3px;
        font-size: 20px;
        float: left;
        margin-left: 20%;
        border-radius: 2px;
        border: none;
        box-shadow:0px 2px 3px #000000;
}

#searchbloc{
/*Stylar våran div som h1-titeln, sökrutorna och sökknappen ligger i*/
        width: 100%;
        float: left;
        margin-bottom: 2%;
        height: 100%;
}

#searchterm {
/*Ger styling till våran sökknapp*/
        background-color: white;
        font-size: 42px;
        margin-left: 6%;
        margin-top: 4px;
        padding: 2px;
        float: left;
        border-radius: 2px;
        border: none;
        box-shadow:0px 2px 3px #000000;
}

#searchterm:hover{
/*Gör så att sökknappen ändrar färg när man håller musen över*/
        text-decoration: none;
        background-color: lightgrey;
}

#container{
/*Behållare för rutorna som presenterar resultatet*/
        width: 100%;
        height: auto;
        display: block;
        float: left;
        
}

#tubediv{
/*Div för våran ruta som presenterar Youtube resultaten*/
        margin-left: 7%;
        float: left;
        width: 40%;
        height: auto;
        max-height: 450px;
        overflow-y: scroll;
        background-color: lightcoral;
        border-radius: 2px;
        border: none;
        box-shadow:0px 2px 3px #000000;
}

#spotdiv{
/*Div för våran ruta som presenterar Spotify resultaten*/
        margin-left: 50px;
        float: left;
        width: 40%;
        height: auto;
        max-height: 450px;
        overflow-y: scroll;
        background-color: limegreen;
        border-radius: 2px;
        border: none;
        box-shadow:0px 2px 3px #000000;
}

#tubepresent {
/*Styling för varje enskilda Youtube-reslutat. Spelaren kommer från Youtube men adderat styling för att passa in*/
        background-color: black;
        padding: 1%;
        margin-left: 6px;
        margin-right: 1px;
        margin-bottom: 3px;
        height: 70px;
        width: 465px;
}

#spotpresent{
/*Styling för varje enskilda Spotify-reslutat. Spelaren är hämtat från Spotifys widgetar*/
        margin-left: 25px;
}

.errormessage{
/*Styling för meddelande om inga sökalternativ finns*/
        padding: 1%;
        margin-left: 6px;
}

.welcomemessage{
/*Styling för meddelande på första sidan innan sökning*/
        padding: 1%;
        margin-left: 6px;
}

#footertext, #footertext2{
/*Text styling på footern*/
        margin: 0px;
}

.footerindex{
/*Styling på footern*/
        text-align: center;
        clear: both;
        padding-top: 15px;
        bottom: 0;
        width: 99%;
        position: absolute;
}